[example-lib]
dir = ./example-lib/
use-git = False
notes-name = notes.org
notes-template = ./notes-template.org
database-backend = papis
bibtex-unicode = True
ref-format = {doc[author_list][0][family]}{doc[year]}_{doc[title]:.15}
add-folder-name = {doc[ref]}
add-file-name = {doc[ref]}
add-confirm = True
doc-paths-lowercase = False
doc-paths-extra-chars = '_'
